
cryptography==46.0.3
fastapi==0.121.0
fastapi-azure-auth==5.2.0
httpx==0.28.1
pydantic==2.12.4
pydantic-core==2.41.5
pydantic-settings==2.11.0
PyJWT==2.10.1
pyodbc==5.3.0
pytest==8.4.2
pytest-asyncio==1.2.0
python-dotenv==1.2.1
python-multipart==0.0.20
requests==2.32.5
SQLAlchemy==2.0.44
sqlmodel==0.0.27
starlette==0.49.3
typing-extensions==4.12.2
uvicorn==0.38.0

