USE [PrimeFireCorp]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 9/17/2025 6:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/17/2025 6:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Connection] [varchar](50) NULL,
	[Password] [varchar](20) NULL,
	[CountryId] [smallint] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licences]    Script Date: 9/17/2025 6:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licences](
	[LicenceId] [smallint] IDENTITY(1,1) NOT NULL,
	[Software] [varchar](50) NULL,
	[Version] [varchar](20) NULL,
	[CreatedAt] [date] NULL,
	[ExpiryDate] [date] NULL,
	[Key] [varchar](50) NULL,
	[Account] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_Licences] PRIMARY KEY CLUSTERED 
(
	[LicenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [Name]) VALUES (1, N'Puerto Rico')
INSERT [dbo].[Countries] ([CountryId], [Name]) VALUES (2, N'Republica Dominicana')
INSERT [dbo].[Countries] ([CountryId], [Name]) VALUES (3, N'Islas Virgenes')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [Name], [Role], [Email], [Phone], [Connection], [Password], [CountryId]) VALUES (2, N'Adolfo Martinez', N'Enginerring Manager ', N'amartinez@primefire.us', N'1 (407) 558-4334', N'1 322 125 523', N'NA', 4)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Licences] ON 

INSERT [dbo].[Licences] ([LicenceId], [Software], [Version], [CreatedAt], [ExpiryDate], [Key], [Account], [Password], [EmployeeId]) VALUES (1, N'Office', N'2021', CAST(N'2020-01-01' AS Date), NULL, N'.exe', N'amartinez@primefire.us', N'NA', 2)
SET IDENTITY_INSERT [dbo].[Licences] OFF
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Country]
GO
ALTER TABLE [dbo].[Licences]  WITH CHECK ADD  CONSTRAINT [FK_Licences_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Licences] CHECK CONSTRAINT [FK_Licences_Employees]
GO
